* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  overflow-y: scroll;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
}

.main__content {
  max-width: 1200px;
  min-width: 400px;
  margin: 20px auto;
  padding: 10px;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: underline;
  color: #000;
}

p {
  margin-bottom: 1rem;
}