.header span{
  background-size: cover;
  min-height: 1000px;
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header__item {
  background: transparent
    url("https://magic.wizards.com/sites/mtg/files/images/wallpaper/Liliana-the-Last-Hope_EMN_2560x1600_Wallpaper.jpg")
    no-repeat center;
  background-size: cover;
  border: 3px solid black;
  min-height: 1000px;
}

.header div:first-of-type {
  background: transparent
    url("https://media.wizards.com/images/magic/daily/wallpapers/BattleofWits_M13_1920x1080_Wallpaper.jpg")
    no-repeat center;
}
.header img {
  width: 100%;
}

.appear {
  margin-left: 50rem;
}

.appearActive {
  margin: 0;
  transition: margin 1s linear;
}
