.card {
    border: 5px solid black;
    border-radius: 10px;
    min-height: 685px;
    transition: all .3s ease-in-out; 
    display: flex;
    justify-content: center;
}

.card:hover {
    transform: scale(1.1);
    background: transparent url("/cardback.jpg") no-repeat center    
}

.card__front {

}

.doaflip {
    transform: rotateY(360deg);
}

.card__back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* display: none; */
}
